* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html {
    direction: rtl;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

section {
    padding-inline: 30px;
  padding-block: 30px;
margin-block: auto;
padding-top: 88px;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

body::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #1a64ec;
  }
  body::-webkit-scrollbar-track {
    background-color: white;
  }


header {
  background-color: #eeeeee9e;
  padding-block: 16px;
    padding-inline: 30px;
  display: flex;
  position: fixed;
  width: 100%;
      flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
  transition-duration: .2s;
  
  &.active {
    background-color: #f6f6f6;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
                      border-radius: 6000px;
                width: 48px;
    }

    h1 {
                      font-size: 16px;
    }
  }

  nav {
    display: flex;
    .navbar-list {
      display: flex;
            gap: 19px;
      align-items: center;
      li {
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}

.navbar-list li.active {
  color: #2464da;
}

section .informations {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.informations h1,
.lists-home h2,
.details h2 {
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  font-size: 17px;
  padding-block: 10px;
  max-width: max-content;
  padding-inline: 30px;
  margin-inline: auto;
  font-family: arial;
}

.lists-home h2 {
  font-size: 22px;
}

.informations p,
.lists-home ul li {
  border: 1px solid black;
  border-radius: 10px;
  padding-block: 10px;
  font-size: 17px;
  padding-inline: 10px;
  font-family: arial;
}

.lists-home ul li:nth-child(2) {
  display: flex;
  margin-right: auto;
}
.lists-home ul li:nth-child(4) {
  display: flex;
  margin-right: auto;
}

.lists-home {
  margin-top: 30px;
}

.lists-home ul li {
  margin-block: 17px;
}

.groups-project {
  margin-top: 50px;
  flex-direction: column;
    justify-content: center;
    align-items: center;
  display: none;
}

.groups-project h3 {
text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
}

.groups-project .groups-list {
  list-style: none;
  display: grid;
  justify-content: center;
  gap: 15px;
  margin-bottom: 75px;

      background-color: #eee;
    border-radius: 50%;

        width: 418px;
    height: 418px;
    position: relative;
}

.groups-list li:nth-child(1),
.groups-list li:nth-child(2),
.groups-list li:nth-child(3) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.groups-list li:nth-child(2){
  grid-template-columns: 1fr;
}

button {
    background: #1d5bd2;
    color: white;
    border: hidden;
    width: 182px;
    margin-inline: auto;
        font-size: 16px;
    height: 90px;
    cursor: pointer;
    transition-duration: 0.5s;
    border-bottom-left-radius: 52px;
    border-top-right-radius: 72px;
}

button:active {
  background: #2464da;
  transform: scale(.96);
}

button:hover {
  background: #276ae7;
}

.groups-list li:nth-child(1) button:nth-child(1) {
    position: absolute;
    top: -2px;
    right: 1px;
}
.groups-list li:nth-child(1) button:nth-child(2) {
    position: absolute;
    top: -4px;
    left: 9px;
}

.groups-list li:nth-child(2) {
    position: absolute;
    top: 124px;
    left: 138px;
}

.groups-list li:nth-child(3) button:nth-child(1) {
    position: absolute;
    bottom: 77px;
    right: 5px;
}
.groups-list li:nth-child(3) button:nth-child(3) {
    position: absolute;
    bottom: 105px;
    left: -18px;
}
.groups-list li:nth-child(3) button:nth-child(2) {
    position: absolute;
    bottom: -29px;
    left: 110px;
}

.details {
      margin-top: 82px;
}
main {
      max-width: 864px;
    overflow: auto;
}

main::-webkit-scrollbar {
    width: 5px;
    height: 6px;
    
  }
  main::-webkit-scrollbar-thumb {
    background-color: #1a64ec;
    border-radius: 40px;
  }
  main::-webkit-scrollbar-track {
    background-color: white;
  }

table {
  display: grid;
  margin-top: 30px;
      min-width: 901px;
          padding-bottom: 12px;

  thead {
    border-bottom: 2px solid white;
  }

  thead, tbody {
    background-color: #eee;

    tr {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

      th,td {
        text-align: center;
        margin-block: auto;
      }

      .increment-quantity {
        border-inline: 2px solid white;

        .quantity {
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom: 2px solid white;
        }

        .total-product {
          display: grid;
          grid-template-columns: 1fr 1fr;

          p {
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          p:nth-child(1) {
            border-left: 2px solid white;
          }
        }
      }

      .group-quantity {
        width: 222px;
        border-inline: 2px solid white;

        .quantity {
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom: 2px solid white;
        }

        .total-product {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;

          p {
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          p:nth-child(2) {
             border-inline: 2px solid white;
          }
        }
      }
    }
  }
}


@media (min-width: 992px) {
  header {
    flex-direction: row;
    justify-content: space-between;
        padding-inline: 50px;

         nav {
        .navbar-list {
            display: flex;
            gap: 27px;
            align-items: center;
        }
    }

        .logo {
        h1 {
            font-size: 20px;
        }

        img {
            border-radius: 6000px;
            width: 53px;
        }
    }
}

.groups-project h3 {
    font-size: 25px;
}
.informations h1, .lists-home h2, .details h2 {
    font-size: 22px;
}

section {
    padding-inline: 50px;
}

/* button {
    font-size: 19px;
    width: 255px;
    height: 111px;
} */


button {
    width: 215px;
    height: 100px;
    font-size: 17px;
  }
  .groups-list li:nth-child(1) button:nth-child(1) {
        position: absolute;
    top: -4px;
    right: -50px;
}
.groups-list li:nth-child(1) button:nth-child(2) {
        position: absolute;
    top: -4px;
    left: -22px;
}

.groups-list li:nth-child(2) {
    position: absolute;
    top: 137px;
    left: 110px;
}

.groups-list li:nth-child(3) button:nth-child(1) {
    position: absolute;
    bottom: 55px;
    right: -90px;
}
.groups-list li:nth-child(3) button:nth-child(2) {
    position: absolute;
    bottom: -29px;  
    left: 94px;

}
.groups-list li:nth-child(3) button:nth-child(3) {
    position: absolute;
    bottom: 96px;
    left: -85px;
}

main {
    max-width: none;
}

table {

  margin-inline: auto;
    max-width: 1400px;
}

.lists-home ul {
    max-width: 1173px;
    margin-inline: auto;

}

.lists-home ul li:nth-child(2) {
  display: flex;
        margin-right: 464px;
}
.lists-home ul li:nth-child(4) {
  display: flex;
  margin-right: auto;
}

.lists-home {
  margin-top: 30px;
}

.lists-home ul li {
  width: 637px;
  margin-block: 17px;
}
}

