* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html {

    direction: rtl;
}

body::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #1a64ec;
  }
  body::-webkit-scrollbar-track {
    background-color: white;
  }


a {
  color: white;
  text-decoration: none;
}

body {
    display: flex;
flex-direction: column;
  align-items: center;
  flex-direction: column;
  margin-block: 50px;
      margin-inline: 22px;

  h3 {
            font-size: 22px;
  font-family: Arial;
  font-weight: 500;
}

main {
    width: 100%;
    overflow: auto;
}

main::-webkit-scrollbar {
    width: 5px;
    height: 6px;
  }
  main::-webkit-scrollbar-thumb {
    background-color: #1a64ec;
    border-radius: 10px;
  }
  main::-webkit-scrollbar-track {
    background-color: white;
  }


table {
  padding-bottom: 10px;
    margin-top: 20px;
    width: 100%;
        min-width: 1368px;
    flex-direction: column;
  align-items: center;
  border-radius: 6px;
  
    thead {
      background-color: #e3e3e3f0;
      th:nth-child(2) {
        width: 21%;
      }
      th:nth-child(1) {
        width: 33px;
      }
      th:nth-child(7) {
        width: 100px;
      }

      .increment-quantity .total-product {
        p:nth-child(2) {
          border-inline: 2px solid white;
        }
      }
    }
        tbody {
      border: 1px solid #ddd;
    text-align: center;



    tr {
        background: #eee;
        font-size: 17px;

        .edit-product,
        .delete-product {
          border: hidden;
          color: white;
          width: 40px;
          padding-block: 3px;
          border-radius: 3px;
          cursor: pointer;
          transition-duration: 0.5s;

          &:active {
            transform: scale(.90);
          }
        }
        
        .delete-product {
          background-color: #ee1010;
        }
        .edit-product {
          background-color: #2f9bdb;
        }
    }
  }
}
.edit-product,
.delete-product {
  border: hidden;
  color: white;
  width: 40px;
  padding-block: 3px;
  border-radius: 3px;
  cursor: pointer;
  transition-duration: 0.5s;

  &:active {
    transform: scale(.90);
  }
}

table tbody tr:nth-child(odd) {
  background-color: #f0eeee;
}

table tbody tr:nth-child(even) {
  background-color: #e0e0e0;
}

.delete-product {
  background-color: #ee1010;
}
.edit-product {
  background-color: #2f9bdb;
}

.increment-quantity {
  width: 25%;

    .quantity {
      border-bottom: 2px solid white;
    }

    p {
      display: flex;
    align-items: center;
    justify-content: center;
    height: 33px;
    }

  .total-product {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;

    div:nth-child(2) p {
      border-inline: 2px solid white;
    }
    
    div p:nth-child(2) {
      border-top: 2px solid white;
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 244px;
  gap: 10px;

  a {
    width: 161px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  }
}

.submit {
  background: #1d5bd2;
  color: white;
  border: hidden;
  border-radius: 30px;
  width: 100%;
  margin-inline: auto;
  width: 146px;
    height: 35px;
    font-size: 15px;
  cursor: pointer;
  transition-duration: 0.5s;

  a {
    width: 100%;
  max-width: 145px;
  height: 29px;
  }

  &:active {
    transform: scale(.96);
  }
  }
}

#filter-products {
  background-color: #f2f2f2;
  margin-top: 31px;
  width: 100%;
  max-width: 739px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding-block: 20PX;
  padding-inline: 20px;
  flex-direction: column;

  .search-product {
    width: 100%;
    position: relative;

    input {
      border: 1px solid #d7d6d6;
      border-radius: 10px;
      padding-block: 10px;
      padding-inline: 10px;
      width: 100%;
      outline: none;
      background-color: #ffffff80;
      color: #444343;
    }
    input:focus {
    border: 1px solid #122ecf;
    }
  }


  .btn-clean {
    position: absolute;
    left: 6px;
    border: hidden;
    border-radius: 30px;
    max-width: 145px;
    width: 29px;
    margin-inline: auto;
    height: 25px;
    cursor: pointer;
    transition-duration: 0.5s;
    background: transparent;
    font-size: 14px;
    color: #c61111;
    top: 48%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
    &:active {
      transform: scale(.96);
    }
  }

}
.massage {
  width: 100%;
  max-width: 1229px;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  padding-block: 10px;
  font-size: 18px;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.lists-products {
  display: flex;
  gap: 20px;
  margin-top: 12px;

  .type-list,
  .nationality-list,
  .hyper-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;

    select {
      background-color: #ffffff80;
      border: hidden;
      border-radius: 7px;
      padding-block: 8px;
      padding-inline: 10px;
      outline: none;
      width: 100%;
      color: #393939;
      cursor: pointer;
    }
    label {
      font-size: 15px;
      font-family: arial;
    }
  }
}

.search-btn {
  border: hidden;
  padding-block: 9px;
  border-radius: 7px;
  background-color: #1d5bd2;
  color: white;
  margin-top: 15px;
  cursor: pointer;
  transition-duration: 0.5s;  

  &:active {
    transform: scale(.98);
      background-color: #3676ec;
  }
}

.veg-button {
    display: flex;
    gap: 4px;
    height: 46px;
    width: 100%;
    font-size: 16px;
    max-width: 190px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    border-radius: 0.9em;
    background: #d2d2d2;
    flex-direction: row-reverse;
    color: black;

    & span {
          color: black;
              font-size: 17px;

    }
} 

.veg-button > svg {
 margin-right: 5px;
 margin-left: 5px;
 font-size: 24px;
 transition: all 0.4s ease-in;
}

.veg-button:hover > svg {
 font-size: 1.2em;
 transform: translateX(-5px);
}

.veg-button:hover {
 transform: translateY(-2px);
}

.back-to-top  {
width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: rgb(28 28 28);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
        position: fixed;
    border: 0;
    bottom: 14px;
    right: 4px;
    transform: translateY(50px);
    opacity: 0;
}

.svgIcon {
  width: 11px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.back-to-top:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: #1d5bd2;
  align-items: center;
}

.back-to-top:hover .svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.back-to-top::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: white;
  /* transition-duration: .3s; */
  font-size: 0px;
}

.back-to-top:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}


@media (min-width: 992px) {
  body {
    margin-inline: 50px;
}

#filter-products {
    max-width: 902px;
    height: 210px;
}
}
