* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
    direction: rtl;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
      font-family: "Tajawal", sans-serif;
}

main {
    background-color: #f7f7f7e5;
    width: 100%;
    padding-block: 20px;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    max-width: 502px;
        margin-inline: 30px;
}

main h3 {
    font-size: 21px;
    text-align: center;
    font-family: Arial;
    font-weight: 500;
}

main .form-signIn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
    min-width: 243px;
}

.email-input,
.password-input,
.name-input,
.avatar-input {
  width: 100%;
  position: relative;
}

.email-input label,
.password-input label,
.name-input label,
.avatar-input label {
  font-size: 17px;
  font-family: Arial;
}

.email-input input,
.name-input input,
.password-input input,
.avatar-input input {
  border: 1px solid #9f9f9f;
  border-radius: 7px;
  padding-block: 10px;
  padding-inline: 10px;
  margin-top: 7px;
  outline: none;
  width: 100%;
  color: #393939;
    font-size: 16px;
}
input:focus {
  border: 1px solid #0421c6;
}

.submit {
  margin-top: 17px;
  background: #0421c6;
  color: white;
  border: hidden;
  border-radius: 30px;
  width: 174px;
  margin-inline: auto;
  height: 39px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.submit:active {
  transform: scale(0.96);
}

.message-Error {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #dd0404;
  border-radius: 6px;
  max-width: 218px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  font-family: arial;
  transform: translateX(100%);
  opacity: 0;
  transition-duration: 0.7s;
}

.message-Error.active {
  transform: translateX(0%);
  opacity: 1;
}

.form-input {
  display: flex;
  gap: 10px;
}

.error-password,
.error-email,
.error-name {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  font-size: 15px;
  gap: 4px;
  color: red;
  padding-top: 6px;
  display: none;

  &.active {
    display: flex;
  }
}
.correct-password,
.correct-email,
.correct-name {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  font-size: 15px;
  gap: 4px;
  color: green;
  padding-top: 6px;
  display: none;

  &.active {
    display: flex;
  }
}

.toggle-password {
  position: absolute;
  left: 10px;
  top: 72%;
  transform: translateY(-50%);
  cursor: pointer;
}

.hide {
  display: none;
}


@media (min-width: 992px) {
  main h3 {
    font-size: 25px;
  }

  main {
    max-width: 599px;
  }
}