* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html {
    direction: rtl;
          font-family: "Tajawal", sans-serif;
}
a {
    text-decoration: none;
    color: white;
}

body {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
    font-family: "Tajawal", sans-serif;
}

#home {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

#home figure {
        max-width: 271px;
}

figure img {
    width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

#home h1 {
    font-family: arial;
  font-weight: 500;
    font-size: 26px;
        text-align: center;
}



header {
      position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-inline: 40px;
    padding-block: 10px;
}

.submit {
display: inline-block;
    text-decoration: none;
    background: linear-gradient(135deg, #1d5bd2, #1d5bd2);
    color: #fff;
    font-family: "Cairo", sans-serif;
    font-weight: 600;
    padding: 15px 39px;
    font-size: 16px;
    border-radius: 999px;
    box-shadow: 0 8px 20px rgba(29, 78, 216, 0.4);
    transition: all 0.3s ease;
        border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}

.submit:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 25px rgba(29, 78, 216, 0.5);
}

.submit:active {
  transform: scale(0.96);
}

.sign-in {
  position: absolute;
  top: 70px;
  right: 10px;
}

.sign-in {
position: absolute;
    top: 23px;
    right: 10px;
    transform: translateX(37px);
}

.sign-btn {
  position: relative;
  flex-direction: row-reverse;
    gap: 27px;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* يخلي الأيقونة ثابتة ناحية اليمين */
    width: 59px;
    height: 46px;
      background: linear-gradient(135deg, #1d5bd2, #1d5bd2);
    box-shadow: 0 8px 20px rgba(29, 78, 216, 0.4);
  border-radius: 50%;
  text-decoration: none;
  color: white;
  overflow: hidden;
  transition: width 0.4s ease, border-radius 0.4s ease;
}

/* الأيقونة ثابتة */
.sign-btn ion-icon {
    font-size: 20px;
    margin-right: 27px;
    z-index: 2;
}

/* النص */
.sign-btn span {
  position: absolute;
  right: 60px; /* يبدأ من جنب الأيقونة */
  white-space: nowrap;
  opacity: 0;
  transform: translateX(20px);
  transition: 0.4s ease;
  font-size: 16px;
}

/* عند الـ hover */
.sign-btn:hover {
  width: 170px;
  border-radius: 40px;
}

.sign-btn:hover span {
  opacity: 1;
  transform: translateX(0);
}



@media (min-width: 992px) {
  #home h1 {
        font-size: 37px;
    }

.submit {
        padding: 19px 100px;
        font-size: 26px;
    }

    #home figure {
        min-width: 363px;
    }
}